{% extends 'mysite/base.html' %}

{% block content %}
<main>
    <div class="container">
        <html lang="ja">
        <head>
            <meta charset="utf-8">
            <title>{{ title }}</title>
        </head>
        <body>
            <h1>{{ title }}</h1>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ forms }}
                <input type='submit' value="click">
            </form>
            <p>{{ answer }}</p>
            <p>{{ energy_kcal }}, {{ sugar_g }}, {{ protein_g }}, {{ lipid_g }},
                {{ water_mL }}, {{ salt_g }}, {{ potassium_mEq }}
            </p>
        </body>
    </div>
</main>
{% endblock %}

</html>
