{% extends 'anestudy/base.html' %}
 
{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-italic display-4">
                {{article.title}}
            </h3>
            <p class="small text-muted text-right">{{article.created_at}} {{article.author}}</p>
            <div class="my-5">
                {{ article.text }}
            </div>

            <div>
                {% include 'anestudy/snippets/like_count.html' %}
                {% include 'anestudy/snippets/tag.html' %}
            </div>

            <hr class="my-4">
            {% include 'anestudy/snippets/comment.html' %}
        </div>
        
    </div>
</main>
 

 
{% endblock %}