{% extends 'anestudy/base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded bg-light">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-weight-bold">OMH-SITE</h1>
            <p class="lead my-3">麻酔科・集中治療室</p>
            <p class="lead mb-0">
                <a href="#" class="font-weight-bold">続きを読む</a>
            </p>
        </div>
    </div>
    <div class="row mb-2">
        {% for obj in ranks %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row
            mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        {% for tag in obj.tags.all %}
                        {{ tag.name }}
                        {% endfor %}
                    </strong>
                    <h3 class="mb-0">{{ obj.title }}</h3>
                    <div class="mb-1 text-muted">{{ obj.created_at }}
                        <div class="d-inline-block text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg>
                            {{ obj.count }}
                        </div>
                    </div>
                    <p class="card-text mb-auto">{{ obj.text|slice:":120"  }}</p>
                    <a href="/anestudy/{{ obj.id }}" class="stretched-link">続きを読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                記事一覧
            </h3>
            {% for obj in articles %}
            <div class="anestudy-post">
                <h2 class="anestudy-post-title">{{ obj.title }}</h2>
                <p class="anestudy-post-meta">{{ obj.created_at }} by
                <a href="#">{{ obj.author }}</a></p>
                <p>{{ obj.text|slice:":120" }}...</p>
                <a href="/anestudy/{{obj.id}}/" class="">続きはこちら</a>
            </div>
            <hr>
            {% endfor %}

            <nav class="anestudy-pagination">
                <a class="btn btn-outline-primary" href="/blogs/">麻酔一覧はこちら</a>
            </nav>
        </div>
        {% include 'anestudy/snippets/sidebar.html' %}
    </div>
    <head>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
      </head>
      <body>
        <textarea>Next, use our Get Started docs to setup Tiny!</textarea>
      </body>
</main>



{% endblock %}
