{% extends 'anestudy/base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row p-4 p-md-5 mb-4 rounded bg-light">
        <div class="col-md-5 px-0">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{% static 'anestudy/omh-top1.png' %}">
            </figure>
            <p class="lead mb-0 text-center">
                連絡先: <a href="mailto:masui@omh.ogaki.gifu.jp">masui@omh.ogaki.gifu.jp</a><br>
            </p>
        </div>
        <div class="col-md-7 px-0">
            <h1 class="display-6 mb-5 text-center">大垣市民病院麻酔科</h1>
            <p class="lead my-3 mb-5 text-center">麻酔と集中治療</p>
            <p class="lead mb-0 text-center pl-5">
                    30年以上の歴史を引き継いで、2015年より現行体制がスタートしました。
                    2022年1月現在9名の若手麻酔科医が手術室と集中治療室を含む中央診療部門を担っています。
                    急性期治療を担う仲間を随時募集しています。いつでも、ご連絡ください。<br>
                    <br>
                    <a href="/omh_index">詳細ページ</a>
            </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="text-right">
            {% if user.is_authenticated %}
                    <a class="btn btn-outline-info" href="posted_articles_top/add/postarticle">投稿する</a>
            {% endif %}
        </div>
        <h3 class="pb-4 font-italic border-bottom">
            ranking
        </h3>
        {% for obj in ranks %}
        <div class="col-md-3">
            <div class="row g-0 border rounded overflow-hidden flex-md-row
            mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        {% for tag in obj.tags.all %}
                        {{ tag.name }}
                        {% endfor %}
                    </strong>
                    <h5 class="mb-0">{{ obj.title }}</h5>
                    <div class="mb-1 text-muted">{{ obj.created_at }}
                        <div class="d-inline-block text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg>
                            {{ obj.count }}
                        </div>
                    </div>
                    <p class="card-text mb-auto">{{ obj.text|slice:":0"|safe }}</p>
                    <a href="/anestudy/{{ obj.id }}" class="stretched-link">続きを読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<main class="container">
    <h3 class="pb-4 font-italic border-bottom">
        latest-updated
    </h3>
    <div class="row mb-2">
        {% for obj in latests %}
        <div class="col-md-3">
            <div class="row g-0 border rounded overflow-hidden flex-md-row
            mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        {% for tag in obj.tags.all %}
                        {{ tag.name }}
                        {% endfor %}
                    </strong>
                    <h5 class="mb-0">{{ obj.title }}</h5>
                    <div class="mb-1 text-muted">{{ obj.created_at }}
                        <div class="d-inline-block text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg>
                            {{ obj.count }}
                        </div>
                    </div>
                    <p class="card-text mb-auto">{{ obj.text|slice:":0"|safe }}</p>
                    <a href="/anestudy/{{ obj.id }}" class="stretched-link">続きを読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                考え中
            </h3>
        </div>
        {% include 'anestudy/snippets/sidebar.html' %}
    </div>
</main>



{% endblock %}
