{% extends 'anestudy/base.html' %}

{% block content %}

{% load static %}

<main class="container">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url({% static 'anestudy/omh-top1.png' %})"; height: 100vh>
            <div class="mask" style="background-color: rgba(192, 192, 192, 0.8);">
                <div class="justify-content-center align-items-center h-100">
                    <h3 class="text-body">大垣市民病院麻酔科</h3>
                    <div class="text-body">
                        <h5>はじめに</h5>
                        30年以上の歴史を引き継いで、2015年より現行体制がスタートしました。<br>
                        2022年1月現在9名の若手麻酔科医が手術室と集中治療室を含む中央診療部門を担っています。<br>
                        急性期治療を担う仲間を随時募集しています。いつでも、ご連絡ください。<br>
                        連絡先: <a href="mailto:masui@omh.ogaki.gifu.jp">masui@omh.ogaki.gifu.jp</a><br>
                        <h5>特徴</h5>
                        多くの症例を抱えており、基本的な全ての麻酔を経験する事ができます。<br>
                        <h6>特記すべき麻酔<h6>
        <ul>
            <li>小児心臓外科の麻酔</li>
            <li>外傷 ( 熱傷を含む ) の麻酔</li>
            <li>TAVI を含む血管内治療の麻酔</li>
            <li>ブロックによる区域麻酔</li>
            <li>気管支ステントの麻酔</li>
            <li>食道癌や肝臓癌などの侵襲が大きな麻酔</li>
        </ul>
<p>これらの麻酔を全て経験できる施設は、あまりありません。
また集中治療領域においても、
週 2 回の抄読会と勉強会で最新の動向を catch up しており、
evidence に基づいた知識と圧倒的な経験値を得ることができます。
コメディカルが意欲的で、レベルが非常に高いことも心強い特記事項と言えます。
</p>
<br>
<h4>集中治療</h4>
<p>手術室麻酔だけではなく、集中治療を勉強できる環境整備にも取り組んでいます。
現在の集中治療室は、主治医管理となっています。
しかし、ほとんどの主治医は集中治療の経験がなく、手術中や処置中で対応も難しい状態が続いていました。
2017年にスタートしたばかりですが、多職種の「チーム」で治療できる体制を強化しています。
看護師、臨床工学技士、薬剤師、理学療法士、言語聴覚士、管理栄養士がチームに参加しており、毎日ディスカッションが行われています。
敗血症、ARDS、IMPELLA、ECMO、血液浄化療法など、幅広く学べます。
<a href="https://project-linked.com/linkedplus/linked_vol32/ogakishimin/page01/">集中治療室での取り組み</a>
<br>
<h4>専門医プログラム</h4>
専門医プログラム
<p>「大垣市民病院麻酔科専門研修プログラム」が 2018 年度から採用されます。

このプログラムのメリットは、

医局の枠組を超えたプログラムであること。
関連病院として, 名古屋/藤田保健衛生/岐阜大学の各施設での研修が可能であること。
勉強したい施設や項目があれば、科をあげて応援し、送り出す準備があること。
このプログラム設立の願いは、「医局を横断して、自分が望んだ環境で学び、成長する」とこを重視しています。
もちろん、仕事とプライベートのバランスなど、個々の希望に最大限寄り添う事を約束します。
一緒に楽しく、一生懸命働きましょう!!</p>

<h4>メンバー紹介</h4>
2015.04-　高須昭彦、加藤規子、伊東遼平、横山達郎
2017.04-　高須昭彦、伊東遼平、横山達郎
2017.10-　高須昭彦、伊東遼平、柴田紘葉、和田玲太朗（横山達郎：名古屋大学）
2018.10-　高須昭彦、柴田紘葉、横山達郎、和田玲太朗（伊東遼平：名古屋大学）
2019.04-　高須昭彦、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗（伊東遼平：名古屋大学）
2019.10-　高須昭彦、伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗
2020.04-　伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、坂口大剛（吉川晃士朗：藤田医科大学）
2021.04-　伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗、坂口大剛、竹内基、谷村洋輔

伊東遼平：麻酔科学会専門医・指導医、心臓血管麻酔学会専門医、区域麻酔学会指導医、小児麻酔学会認定医、J-RACE(2019)、ICD
柴田紘葉：麻酔科学会専門医、心臓血管麻酔学会専門医
横山達郎：麻酔科学会専門医、心臓血管麻酔学会専門医、ICD、集中治療学会専門医(2022年度-)
和田玲太朗：麻酔科学会専門医、心臓血管麻酔学会専門医(2022年度-)
岡本文乃：麻酔科学会専門医(2022年度-)
吉川晃士朗：麻酔科専攻医
坂口大剛：麻酔科専攻医
竹内基：麻酔科専攻医
谷村洋輔：麻酔科専攻医
<p class="index-invitation-sign">2018.01.01　T.yokoyama</p>
</div>
<div class="footer">
<hr>
<p class="copyright">Copyright &copy; 2016 ogaki municipal hospital anesthesia. All rights reserved.</p>
</div>
</main>

{% endblock %}
