{% extends 'anestudy/base.html' %}

{% block content %}

{% load static %}

<main class="container">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url({% static 'anestudy/omh-top1.png' %})"; height: 100vh>
        <div class="mask" style="background-color: rgba(192, 192, 192, 0.9);">
            <div class="justify-content-center align-items-center h-100">
                <h3 class="text-body mb-4 pt-5">大垣市民病院麻酔科</h3>
                <div class="row">
                    <div class="col-md-12 mb-4 text-body">
                        <h3 class="pb-3">
                            はじめに
                        </h4>
                        <p>
                            30年以上の歴史を引き継いで、2015年より現行体制がスタートしました。<br>
                            2022年1月現在9名の若手麻酔科医が手術室と集中治療室を含む中央診療部門を担っています。<br>
                            急性期治療を担う仲間を随時募集しています。<br>
                            いつでも、ご連絡ください。<br><br>
                            連絡先: <a href="mailto:masui@omh.ogaki.gifu.jp">masui@omh.ogaki.gifu.jp</a><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-4 text-body">
                        <h3 class="pb-4">
                            麻酔
                        </h3>
                        <p>
                            麻酔に関する有資格者が在籍し、サブスペシャリティも習得できます。<br>
                            移植手術を除き、ほぼ全ての麻酔を経験する事ができます。<br>
                            <h5 class="text-decoration-underline pb-4">
                                特記すべき麻酔
                            </h5>
                            <div class="row justify-content-center">
                                <div class="col-md-4 mb-4 text-body text-left">
                                    ・小児心臓外科の麻酔<br>
                                    ・外傷 ( 熱傷を含む ) の麻酔<br>
                                    ・TAVI を含む血管内治療の麻酔<br>
                                    ・ブロックによる区域麻酔<br>
                                    ・気管支ステントの麻酔<br>
                                    ・食道癌や肝臓癌などの侵襲が大きな麻酔
                                </div>
                            </div>
                        </p>
                        <p>これらの麻酔を全て経験できる施設は、あまりありません。<br>
                            週 2 回の抄読会と勉強会で最新の動向を catch up しています。<br>
                            evidence に基づいた知識と経験値を得ることができます。<br>
                            コメディカルが意欲的で、レベルが非常に高いことも心強い特記事項と言えます。
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-4 text-body">
                        <h3 class="pb-4">
                            集中治療
                        </h3>
                        <p>
                            手術室麻酔だけではなく、集中治療を勉強できる環境整備にも取り組んでいます。<br>
                            現在の集中治療室は、主治医管理となっています。<br>
                            しかし、ほとんどの主治医は集中治療の経験がなく、手術中や処置中で対応も難しい状態が続いていました。<br>
                            2017年にスタートしたばかりですが、多職種の「チーム」で治療できる体制を強化しています。<br>
                            看護師、臨床工学技士、薬剤師、理学療法士、言語聴覚士、管理栄養士がチームに参加しており、毎日ディスカッションが行われています。<br>
                            敗血症、ARDS、IMPELLA、ECMO、血液浄化療法など、幅広く学べます。<br><br>
                            <a href="https://project-linked.com/linkedplus/linked_vol32/ogakishimin/page01/">集中治療室での取り組み</a>
                        </p>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-4 text-body">
                        <h3 class="pb-4">
                            専門医プログラム
                        </h3>
                        <p>
                            「大垣市民病院麻酔科専門研修プログラム」が 2018 年度から採用されています。<br>
                            <br>
                            <h5 class="text-decoration-underline pb-4">このプログラムのメリットは、</h5>
                            <div class="row justify-content-center">
                                <div class="col-md-8 mb-4 text-body text-left">
                                    ・医局の枠組を超えたプログラムであること。<br>
                                    ・名古屋大学・藤田医科大学・岐阜大学が関連病院であること。<br>
                                    ・勉強したい施設や項目があれば、科をあげて応援し、送り出す準備があること。<br>
                                    ・もちろん、仕事とプライベートのバランスなど、個々の希望に最大限寄り添う事を約束します。<br>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 mb-4 text-body ">
                        <h3 class="pb-4">
                            メンバー紹介
                        </h3>
                        <p class="text-left">
                            2015.04- 高須昭彦、加藤規子、伊東遼平、横山達郎<br>
                            2017.04- 高須昭彦、伊東遼平、横山達郎<br>
                            2017.10- 高須昭彦、伊東遼平、柴田紘葉、和田玲太朗（横山達郎 : 名古屋大学）<br>
                            2018.10- 高須昭彦、柴田紘葉、横山達郎、和田玲太朗（伊東遼平 : 名古屋大学）<br>
                            2019.04- 高須昭彦、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗（伊東遼平 : 名古屋大学）<br>
                            2019.10- 高須昭彦、伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗<br>
                            2020.04- 伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、坂口大剛（吉川晃士朗 : 藤田医科大学）<br>
                            2021.04- 伊東遼平、柴田紘葉、横山達郎、和田玲太朗、岡本文乃、吉川晃士朗、坂口大剛、竹内基、谷村洋輔<br>
                        </p>
                        <p class="pl-4 text-left">
                            伊東遼平 : 麻酔科学会指導医、心臓血管麻酔学会専門医、区域麻酔学会指導医、小児麻酔学会認定医、J-RACE(2019)、ICD<br>
                            柴田紘葉 : 麻酔科学会専門医、心臓血管麻酔学会専門医<br>
                            横山達郎 : 麻酔科学会専門医、心臓血管麻酔学会専門医、ICD、集中治療学会専門医(2022年度-)<br>
                            和田玲太朗 : 麻酔科学会専門医、心臓血管麻酔学会専門医(2022年度-)<br>
                            岡本文乃 : 麻酔科学会専門医(2022年度-)<br>
                            吉川晃士朗 : 麻酔科専攻医<br>
                            坂口大剛 : 麻酔科専攻医<br>
                            竹内基 : 麻酔科専攻医<br>
                            谷村洋輔 : 麻酔科専攻医<br>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
