{% extends 'anestudy/base.html' %}

{% block content %}

<main class="container">
    <h3 class="pb-4 font-bold border-bottom">
        {{ page_title }}の麻酔
    </h3>
    <div class="row">
        <div class="row mb-2">
            {% for obj in page_obj %}
            <div class="col-md-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row
                mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-inline-block text-warning text-center">
                            <a href="/anestudy/{{obj.id}}/" class="">{{ obj.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</main>

{% endblock %}
