{% extends 'anestudy/base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-bold display-6 mt-5">
                {{ posted_article.title }}
            </h3>
            <p class="small text-muted text-right">{{posted_article.created_at}} {{posted_article.author}}</p>

            {% if user.is_authenticated %}
                <a class="btn btn-outline-info" href="edit/postarticle/">編集する</a>
            {% endif %}

            <div class="my-5">
                {{ posted_article.text |safe }}
            </div>

            <div>
                {% include 'anestudy/snippets/like_count.html' %}
                {% include 'anestudy/snippets/tag.html' %}
            </div>

            <hr class="my-4">
            {% include 'anestudy/snippets/comment.html' %}
        </div>

    </div>
</main>



{% endblock %}
