{% extends 'anestudy/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="pb-4 font-italic border-bottom display-6">
                {{ page_title }}
            </h3>

            {% for obj in page_obj %}
            <div class="anestudy-post">
                <h2 class="anestudy-post-title">{{ obj.title }}</h2>
                <p class="anestudy-post-meta">{{ obj.created_at }} by
                <a href="#">{{ obj.author }}</a></p>
                <p>{{ obj.text }}</p>
                <a href="/anestudy/{{obj.id}}/" class="">続きはこちら</a>
            </div>
            <hr>
            {% endfor %}
            {% include 'anestudy/snippets/pagination.html' %}
        </div>

    </div>
</main>

{% endblock %}
